@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	/*text-align:center;  */
 

}


#section0{

}

.column-layout {

margin:auto auto auto auto;
line-height: 1.65;
display: flex;



}
.main-column{
font-size: 10px;
	
	margin-top: 2rem;
	margin-left: 2rem;
	flex: 2;
}
.sidebar{
align-content: top;
margin-bottom: 1000px;
flex:1;

}
.column-layout2{
display: flex;
justify-content: center;

}


/** SOCIAL MEDIA BUTTON**/
.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 48px;
  padding: 4.8rem;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}

.icon-13:hover,  .icon-17:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-13 {
   color: #d94a26;
  fill: #d94a26;
}
.icon-13:hover {
    background: #d94a26;
}

.icon-17 {
   color: #6e26d9;
  fill: #6e26d9;
}
.icon-17:hover {
   background: #6e26d9;
}


ul {
    list-style-type: none;
}


section.work-tiles ul {
  padding: 25px 0;
}
section.work-tiles .work-tiles-items {
  padding: 0;
  background-color: #c81486; 
  cursor: pointer;
}
section.work-tiles .work-tiles-items img {
  width: 30%;
}
section.work-tiles .text-overlay {
  background-color: rgba(200,20,134,1);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
section.work-tiles .work-tiles-items span {
  padding: 34px;
  color: #fff;
  position: absolute;
  bottom: -4px;
  left: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: left;
  text-transform: uppercase;
}
section.work-tiles .work-tiles-items:hover .text-overlay {
  opacity: 1;
}
section.work-tiles.workTiles .work-tiles-items {
  padding: 2px;
  background-color: transparent;
  margin-bottom: 2px;
}
section.work-tiles {
  text-align: center;
}

.workTiles .portfolioInner {
  position: relative;
}
.workTiles .portfolioInner {
  padding: 2px;
  overflow: hidden;
}
.workTiles .portfolioInner img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.workTiles .portfolioInner:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.workTiles .portfolioInner .textOverlay {
  background-color: rgba(292,0,0,0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.workTiles .portfolioInner:hover .textOverlay {
  opacity: 1;
}
.workTiles .portfolioInner .textOverlay span {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  font-size: 2rem;
  color: #fff;
  overflow: hidden;
  z-index: 999;
  left: 0;
  right: 0;
  line-height: 26px;
  text-align: center;
}
.workTiles .portfolioInner .textOverlay span {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.clients-home .clients-logos .gallery-buttons {
  margin-top: 60px; 
}

@media screen and (max-width: 1200px) {
  section.work-tiles .work-tiles-items span {
    font-size: 50px;
    line-height: 42px;
    padding: 20px;
  }
}
@media (max-width: 545px) {
  section.work-tiles .work-tiles-items span {
    font-size: 40px;
    line-height: 36px;
  }
}
@media screen and (max-width: 480px) {
  section.work-tiles .work-tiles-items span {
    font-size: 26px;
    line-height: 26px;
    padding: 10px;
  }
  section.work-tiles h2 {
    font-size: 40px;
  }
}





#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}




